doctype html
html
	head
		meta(charset='utf-8')
		title=title
		link(rel="stylesheet" href="default.css")
	body
		h1=title
		p.menubar
			a(href="/index.html") HOME
		p &nbsp;
		p(style="font-size:2em;color:red;text-align:center;")= "バージョン " + version

