doctype html
html
  head
    meta(charset="utf-8")
    title cookie
    link(rel="stylesheet", href="/default.css")
  body
    h1 cookie
    div.menubar
      a(href="/") HOME
    br
    p(class="message")= key1
    br
    p(style="margin-left:4%;") (注意) 初回は何も表示されない。リロードして2回目から表示される。
