doctype html
html
  head
    meta(charset="utf-8")
    title text
    link(rel="stylesheet", href="/default.css")
  body
    h1 text
    div.menubar
      a(href="/") HOME
    br
    div(style="text-align:center;color:fuchsia;font-size:3em;") #{msg}