<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>htmlTable</title>
    <link rel="stylesheet" href="/manual.css" />
  </head>
  <body>
    <h1>２次元配列からHTMLテーブルを作成する</h1>
    <div class="menubar"><a href="/">HOME</a></div>
    <br />
    <form method="POST" action="/htmlTable/">
        <div class="form_row"><label>データの２次元配列 <input type="text" name="dataset" size="80" /></label></div>
        <div class="form_row"><label>tableタグの属性 <input type="text" name="table_attr" /></label> (例) {"class":"Table1"}</div>
        <div class="form_row"><label>thタグの属性 <input type="text" name="th_attr" /></label> (例) {"class":"Header1"}</div>
        <div class="form_row"><label>tableタグの属性 <input type="text" name="td_attr" /></label> (例) {"class":"Td1"}</div>
        <div class="form_row" style="margin-left:10%;"><label><input type="submit" value="submit" /></div>
    </form>
    <br />
    <p style="text-align:center;font-size:2em;color:fuchsia;">(*result*)</p>
  </body>
</html>