<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <style>
   h1 {
    text-align:center;
   }
  </style>
 </head>

 <body>
  <h1><%= title %></h1>
  <p style="text-align:center;"><a href="/index.html">HOME</a></p>
  <p style="text-align:center;font-size:2em;color:red;">バージョン <%= version %></p>
 </body>
</html>

